---
import Layout from '../../../layouts/Layout.astro';
import { cards } from '../../../data/ProjectCard'

export async function getStaticPaths() {
  return cards.map((card) => ({
    params: { id: card.id },
  }));
}

const { id } = Astro.params;
const card = cards.find((p) => p.id === id);

if (!card) {
  throw new Error('Proyecto no encontrado');
}
---

<Layout title='Andres Soto Dev'>
  <div class="project text-AzulOscuro">
    <div class="md:section-container pt-28 md:p-28">
      <div class="flex space-x-3 p-2 md:text-base text-sm">
        <a href="/" class="underline">Home</a>
        <p>></p>
        <a href="/#projects" class="underline">Proyectos</a>
        <p>></p>
        <a href="#" class="underline">{card.id}</a>
      </div>
      <div>
        <div class="text-center text-3xl md:text-5xl font-black">
          <h1>{card.title}</h1> 
        </div>
        <div class="flex flex-wrap content-center items-center justify-center p-10 space-y-6">
          <div class="text-lg md:text-xl">
            <p>{card.description} Realizado en el año {card.year}</p>
          </div>
          <div class="md:text-lg md:w-full md:text-center text-base">
            <p>Herramientas usadas: {card.tools}</p>
          </div>
          <div class="flex flex-col content-center items-center justify-center md:text-base text-sm ">
            <a href={card.link} target="_blank" rel="noopener noreferrer"><img src={"/" + card.image}  alt="image" class="w-96 transform transition-transform duration-300 hover:scale-105"></a>
            <div class="text-xs p-2">
              <p>
                Presiona la imagen para visitar la plataforma
              </p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
      .project {
        background: linear-gradient(to top, #95d0e4, transparent );
    }
</style>